# Backend: bỏ môi trường ảo, dữ liệu, cache
backend/venv/
backend/chroma_db/
backend/uploads/
backend/__pycache__/
backend/summaries

# Python chung
__pycache__/
*.py[cod]
*.db
.env

# Model: Bỏ kết quả training
model/model.safetensors
model/checkpoint-712/model.safetensors
model/checkpoint-712/optimizer.pt